---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$chat-lines-color: #333;
$chat-names-color: #888;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";

html>body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  background-color: #fafafa
}

.app-main {
  //margin-top: -35vh;
  flex-shrink: 0;
}

.app-header .mdl-layout__header-row {
  padding-left: 40px;
}

.app-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.app-content {
  border-radius: 2px;
  padding: 0; /* important for the scroll-to-bottom functionality */
  margin-bottom: 80px;
}

.app-layout.is-small-screen .app-content {
  padding: 0; /* important for the scroll-to-bottom functionality */
}

.app-content h3 {
  margin-top: 48px;
}

// APP
#list-scroll {
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  //height: 400px;

  #deep-chat {
  }
}

.app-faction-text {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

#info-speaker {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

#info-others {
  position: absolute;
  left: 1em;
  bottom: 1em;
}

.app-line {
  .app-line-pic {
    .app-image {
      height: 128px;
      width: 128px;
      background: no-repeat center;
      //background-size: 100% 100%;
      -webkit-filter: drop-shadow(1px 2px 8px #AAA);
      filter: drop-shadow(1px 2px 8px #AAA);
    }
    /* replacing <img>'s with css for single downloads */
    .app-image.character-butters {
      background-image: url('{{ "/images/butters.png" | prepend: site.baseurl }}');
    }
    .app-image.character-cartman {
      background-image: url('{{ "/images/cartman.png" | prepend: site.baseurl }}');
    }
    .app-image.character-garrison {
      background-image: url('{{ "/images/garrison.png" | prepend: site.baseurl }}');
    }
    .app-image.character-kenny {
      background-image: url('{{ "/images/kenny.png" | prepend: site.baseurl }}');
    }
    .app-image.character-kyle {
      background-image: url('{{ "/images/kyle.png" | prepend: site.baseurl }}');
    }
    .app-image.character-randy {
      background-image: url('{{ "/images/randy.png" | prepend: site.baseurl }}');
    }
    .app-image.character-stan {
      background-image: url('{{ "/images/stan.png" | prepend: site.baseurl }}');
    }
  }
  .app-line-text {
    /*box-shadow: 0 1px 8px 1px #eee;
    background-color: #fefefe;
    padding: 12px 20px 6px 20px;*/

    .app-character-name {
      color: $chat-names-color;
      //margin-left: -2px;
      margin-top: -4px;
      margin-bottom: 4px;
      text-transform: capitalize;
    }
    .app-character-text {
      color: $chat-lines-color;
      font-family: Georgia, Cambria, "Times New Roman", Times, serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.58;
      letter-spacing: -.003em;
    }
  }
  .app-line-pic.is-align-start {
    /*-webkit-transform: rotate(343deg);
    -ms-transform: rotate(343deg);
    transform: rotate(343deg);*/
  }
  .app-line-pic.is-align-end {
    /*-webkit-transform: rotate(17deg);
    -ms-transform: rotate(17deg);
    transform: rotate(17deg);*/
  }
}
