---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$chat-lines-color: #333;
$chat-names-color: #888;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";

html>body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  background-color: #fafafa
}

.app-main {
  //margin-top: -35vh;
  flex-shrink: 0;
}

.app-header .mdl-layout__header-row {
  padding-left: 40px;
}

.app-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.app-content {
  border-radius: 2px;
  padding: 0; /* important for the scroll-to-bottom functionality */
  margin-bottom: 80px;
}

.app-layout.is-small-screen .app-content {
  padding: 0; /* important for the scroll-to-bottom functionality */
}

.app-content h3 {
  margin-top: 48px;
}

// APP
.app-content {
  height: 400px;
  //background: aqua;
  overflow: auto;
}

.app-line {
  .app-line-pic {
    > img {
      height: 100px;
      -webkit-filter: drop-shadow(1px 2px 8px #AAA);
      filter: drop-shadow(1px 2px 8px #AAA);
    }
  }
  .app-line-text {
    .app-character-name {
      color: $chat-names-color;
      margin-top: -4px;
      margin-bottom: 4px;
    }
    .app-character-text {
      color: $chat-lines-color;
      font-family: Georgia, Cambria, "Times New Roman", Times, serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.58;
      letter-spacing: -.003em;
    }
  }
  .app-line-pic.is-align-start {
    -webkit-transform: rotate(17deg);
    -ms-transform: rotate(17deg);
    transform: rotate(17deg);
  }
  .app-line-pic.is-align-end {
    -webkit-transform: rotate(-17deg);
    -ms-transform: rotate(-17deg);
    transform: rotate(-17deg);
  }
}