<header class="app-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">
      <a href="{{ site.baseurl }}/index.html">{{ site.title }}</a>
    </span>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      <!-- div class="mdl-textfield__expandable-holder">
        {% for my_page in site.pages %}
        {% if my_page.title %}
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
        {% endfor %}
      </div -->
    </div>
  </div>
</header>